<!--customer-products-success.vtl-->
<h1>Success!</h1>

<h3>Your product has been saved to $customer.getName()'s order.</h3>

<a href="/customers">View customers</a>
<!--customer-products-success.vtl-->
