<!--customer-form.vtl-->
<h1>Add a customer</h1>

<p>Add a customer here:</p>

<form action="/customers" method="post">
  <label for="name">Customer name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success">Add Customer</button>
</form>
<!--customer-form.vtl-->
