<!--product.vtl-->
<h1>$customer.getName()'s product list:</h1>

#if($products)
  <ul>
    #foreach ($product in $customer.getProducts($customer.getId()))
      <li>
        <a href="/customers/$customer.getId()/products/$product.getId()">$product.getName()</a>
      </li>
    #end
  </ul>
#else
  <p>There are no products yet! Buy some!</p>
#end

<!--product.vtl-->
