<!--product-form.vtl-->
<p>Add a new product:</p>

<form action="/products" method="post">
  <label for="name">name</label>
  <input id="name" name="name" type="text">
  <label for="cost">Cost</label>
  <input id="cost" name="cost" type="text">

  <button type="submit" class="btn btn-default">Add product</button>
</form>
<!--product-form.vtl-->
